# git ignoirng file/folder

# ignore all datasets
/*/dataset/*/*/*
/*/dataset/*/*.txt
/*/dataset/*/*.cp
/*/datasets/*/*/*
/*/datasets/*/*.txt
/*/datasets/*/*.cp
/*/database/*/*/*
/*/database/*/*.txt
/*/database/*/*.cp
/*/databases/*/*/*
/*/databases/*/*.txt
/*/databases/*/*.cp

# ignore all feature extracted
/*/feature
/*/features

# ignore all saved models
/*/model
/*/models

# ignore all producible data
/*/*.log
/*/logs.txt
/*/*.csv
/*/*.ods
/*/figures
/*/logs
/*/dists*

# python temporary files
/*/__pycache__
/*/*/__pycache__
/*/dataset/*/__pycache__
/*/datasets/*/__pycache__

# my private key
/Utils/*.h5
